* {
  color: white;
}

html {
  background: black;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 15px;
  border-bottom: 1px solid white;
}

nav a {
  text-decoration: none;
}

main {
  padding: 30px 15px;
  height: 100vh;
}

footer {
  margin-top: 40px;
}

footer p {
  text-align: center;
}

.footer-description {
  width: 100%;
  height: 50px;
}

.link {
  color: green;
  text-decoration: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 30px;
  filter: invert(1);
}

#nav-button {
  border-radius: 50%;
  background: green;
  width: 45px;
  height: 45px;
  outline: none;
  border: none;
}

.nav-container {
  position: sticky;
  width:45px;
  height: 45px;
  top: calc(100vh - 100px);
  left: calc(100vw - 100px);
}

.btn:active {
  filter: brightness(88%);
}

.relative {
  position: relative;
}

.nav-popup {
  position: absolute;
  top: -120px;
  left: -110px;
  height: 110px;
  width: 120px;
  border: 1.5px solid green;
  display: flex;
  flex-direction: column;
  padding: 5px;
  background: black;
}

.link-container {
  padding: 5px 8px;
  border: 1.5px solid green;
}

.nav-hidden {
  visibility: hidden;
}
