* {
  color: white;
}

html {
  background: black;
}

nav {
  display: flex;
  justify-content: space-between;
}

main {
  padding: 30px 15px;
}

footer {
  margin-top: 40px;
}

footer p {
  text-align: center;
}

.link {
  color: green;
  text-decoration: none;
}

.center-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
