<!DOCTYPE html>
<html lang=”en”>
<head>
  <meta charset=”utf-8”>
  <title>PORTFOLIO | JUNIOR PRO DEV</title>
  <meta name=”description” content=”This my portfolio, where I talk about myself, as my projects, goals, studies and so on.”>
  <meta name=”author” content=”Junior Pro Dev”>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://pagecdn.io/lib/normalize/8.0.1/normalize.min.css" rel="stylesheet">
  <link href="https://junior-pro-dev.github.io/portfolio/style.css" rel="stylesheet">
</head>
<body>
  <h1>Contact me</h1>
  <div class="nav-container">
    <button id="nav-button" class="btn center">
      <img class="icon" src="https://img.icons8.com/material-sharp/100/000000/paper-ship.png"/>
    </button>
    <div id="nav-popup-id" class="nav-hidden">
      <a class="link" href="/portfolio">home</a>
      <a class="link" href="/portfolio/views/about.html">about</a>
      <a class="link" href="/portfolio/views/projects.html">projects</a>
      <a class="link" href="/portfolio/views/achievements.html">achievements</a>
      <a class="link" href="/portfolio/views/break.html">break</a>
      <a class="link" href="/portfolio/views/contact.html">contact</a>
    </div>
  </div>
  <script type="text/javascript" src="https://junior-pro-dev.github.io/portfolio/index.js"></script>
</body>
</html>
